<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon"  href="img/weather.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main">
		{{>header}}
		<p>This sitie was created by Ralph. It uses data from mapbox.com and darksky.net</p>
		<p>
			<img src="img/bg_logo.png">
		</p>	
	</div>


	{{>footer}}

</body>
</html>