<!DOCTYPE html>
<html>
<head>
	<title>Help::</title>
	<link rel="icon"  href="img/weather.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main">
		{{>header}}
		<p>{{content}}</p>
	</div>


	{{>footer}}
</body>
</html>